@import '../../libs/bootstrap-v3.3.7/stylesheets/bootstrap';

.container {
  width: 95%;
  main {
    article {
      border-bottom: 1px solid black;
      padding: 20px 0;
      &:last-child {
       border-bottom: none;
      padding: 0;
      }

      .media-body{
        section.coments {
          margin: 10px 0 0 0;
          aside {

          }
        }
      }
    }
  }
}
