// breakpoints
//   .col-lg-
$breakpoint-default: "only screen and (max-width: 1300px)";
//   .col-md-
$breakpoint-medium: "only screen and (max-width: 970px)";
//   .col-sm-
$breakpoint-small: "only screen and (max-width: 750px)";
//   .col-xs-
$breakpoint-mobile: "only screen and (max-width: 520px)";

$border-color: #CCCCCC;
