<header class="menu">
  <ul class="nav nav-tabs" role="tablist" id="navegacao">
    <li role="presentation" class="disabled"><a href="#" aria-controls="" role="tab" data-toggle="tab">Amigos</a></li>
    <li role="presentation" class="active"><a href="#seguindo" aria-controls="seguindo" role="tab" data-toggle="tab">Seguindo</a></li>
  </ul>
</header>

<div role="tabpanel" class="seguindo row tab-pane fade in" id="seguindo">
  <!--begin galeria -->
  <aside class="gallery">
    <h3>Fotos</h3>
    <div class="row">
      <div class="thumbs col-lg-3 col-md-6 col-sm-2 col-xs-3"><img src="assets/imagens/example-100x100.jpg" class="img-responsive" alt="Gallery 1"></div>
      <div class="thumbs col-lg-3 col-md-6 col-sm-2 col-xs-3"><img src="assets/imagens/example-100x100.jpg" class="img-responsive" alt="Gallery 2"></div>
      <div class="thumbs col-lg-3 col-md-6 col-sm-2 col-xs-3"><img src="assets/imagens/example-100x100.jpg" class="img-responsive" alt="Gallery 3"></div>
      <div class="thumbs col-lg-3 col-md-6 col-sm-2 col-xs-3"><img src="assets/imagens/example-100x100.jpg" class="img-responsive" alt="Gallery 4"></div>
      <div class="thumbs col-lg-3 col-md-6 col-sm-2 col-xs-3"><img src="assets/imagens/example-100x100.jpg" class="img-responsive" alt="Gallery 5"></div>
      <div class="thumbs col-lg-3 col-md-6 col-sm-2 col-xs-3"><img src="assets/imagens/example-100x100.jpg" class="img-responsive" alt="Gallery 6"></div>
      <div class="thumbs col-lg-3 col-md-6 col-sm-2 col-xs-3"><img src="assets/imagens/example-100x100.jpg" class="img-responsive" alt="Gallery 7"></div>
    </div>
  </aside>
  <!-- end galeria -->

  <aside>
    <h3>Recente</h3>
    <p><a href="#">Praesent eu eros vel risus convallis pulvinar.</a> Vestibulum vulputate, arcu sed molestie aliquam, orci tortor placerat mi, eget tristique augue lorem sed elit.</p>
  </aside>
</div>
