body {
  border-bottom: 1px solid #CCCCCC;
  padding: 0 0 15px 0;
  margin: 0 0 30px 0; }
  body .container {
    width: 80%; }

main article.posts {
  border-bottom: 1px solid #CCCCCC;
  padding: 20px 0; }
  main article.posts:last-child {
    border-bottom: none;
    padding: 0; }
  main article.posts .icon-user img {
    width: 100px; }
  main article.posts .message {
    padding: 0 30px; }
    main article.posts .message .contents img {
      width: 150px; }
  main article.posts section.coments {
    margin: 10px 0 0 0; }

nav.bar-side header.menu .nav-tabs > li.active > a {
  border-radius: 0;
  border-top: 3px solid #2CA6CB;
  font-weight: 700; }

nav.bar-side .mobile {
  display: none; }

nav.bar-side aside.gallery .thumbs {
  margin: 10px 0; }

.teste {
  background: black; }

@media only screen and (max-width: 1300px) {
  body {
    background: red; }
    body .container {
      width: 90%; }
      body .container main article.posts .message {
        padding: 0 10px; }
      body .container nav.bar-side aside.gallery .thumbs {
        margin: 2px 0; } }

@media only screen and (max-width: 970px) {
  body {
    background: blue; }
    body .container {
      width: 100%; }
      body .container nav.bar-side .menu {
        display: none; }
      body .container nav.bar-side .mobile {
        display: block; } }

@media only screen and (max-width: 750px) {
  body {
    background: yellow; } }

@media only screen and (max-width: 520px) {
  body {
    background: orange; } }
