body{
    background-color: #ECF0F1 !important;
}

ul{
    list-style: none;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

#app-container{
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}

#bilgow-logo{
    display: inline-block;
    margin: 2em auto;
    position: relative;
}

#post-list{
    text-align: left;
}

#time-line{
    text-align: center;
}

.post.tile{
    background-color: #33cccc;
    text-align: left;
    font-size: 1em;
    overflow: auto;
}

.post.tile p{
    font-size: 1em;
    margin-top: 1em;
}

.post-header{
    overflow: auto;
    position: relative;
    z-index: 2;
}

.post-header > a{
    display: block;
}

.post .left{
    float: left;
}

.post-content{
    margin: -14.3em 0 0 15.3em;
    text-align: left !important;
    float: right;
}

.post-content h1{
    font-size: 2em;
}

.post-external-link img{
    max-width: 300px;
}