/******************************************************************************\
/* Reset for custom layout.
/******************************************************************************/
body{
    background-color: #ECF0F1 !important;
    text-align: center;
}

ul{
    list-style: none;
    margin: 0 !important;
    overflow: hidden;
}

/******************************************************************************\
/*  Css for statics objects.
/******************************************************************************/

#app-container{
    max-width: 1004px;
    margin: 0 auto;
    position: relative;
}

#bilgow-logo img{
    margin: 2em 0;
}

#time-line{
    text-align: center;
}

#post-list{
    text-align: left;
}
/******************************************************************************\
/*  Css for object Post.
/******************************************************************************/
.post{
    background-color: #33cccc;
    text-align: left;
    font-size: 1em;
    overflow: auto;
}

.post p{
    font-size: 1em;
    margin-top: -1em;
    margin-bottom: -1em;
}

.post blockquote{
    padding: 0;
    margin: 0;
}

.post .left{
    float: left;
}

.post > header.post-margin{
    padding-right: 0;
    margin-right: -14px;
}

.post-header{
    position: relative;
    z-index: 2;
    max-width: 250px;
}

.post h1{
    font-size: 2em;
    margin: 0;

}

.post-header > a{
    display: block;
}

.post-content{
    text-align: left !important;
    width: 100%;
    background: #ECF0F1;
}

.post-margin{
    padding: 14px;
}

.post-external-link{
    background: #e2e6e8;
    border-top: 1px solid #BDC3C7;
    padding-top: 1em;
    overflow: auto;
    text-align: center;
}

.post-external-link img{
    margin: 0 auto;
    position: relative;
    max-height: 300px;
}

.post-comentary{
    margin-top: 1em;
    background: #BDC3C7;
    overflow: auto;
}

.post-comentary .container-fluid{
    padding: 0;
}

.post-comentary .post-header{
    max-width: 50px;
}

.post-comentary .post-margin{
    padding: 10px;
}

.post-body{
    padding-right: 0;
}

/******************************************************************************\
/*  Css for HUB social.
/******************************************************************************/

#social-hub{
    position: relative;
}

#social-hub .btn-toolbar{
    z-index: 1;
    position: relative;
    margin: 0 auto;
    position: absolute;
    top: 1.5em;
    width: 100%;
}

#social-hub .btn-toolbar .btn-group{
    padding: 0;
}

.friend-zone{
    background: #2C3E50;
    padding-top: 1.5em;
    margin: 1.5em 0;
    width: 100%;
    text-align: center;
}

.friend-zone li{
    padding: 8px;
    max-width: 100px;
    display: inline-block;
}

.friend-zone a{
    display: block;
    overflow: hidden;
}

#last-updates{
    background: #1ABC9C;
    color: #ffffff;
}

#last-updates h1{
    border-bottom: 1px solid #16A085;
    margin-bottom: 1em;
    color: #16A085;
}